<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>회원가입</h1>
<form method="post" action="join_form">
  ID: <input type="text" name="user_id"><br/>
  Pass: <input type="password" name="user_pass"><br/>
  Name: <input type="text" name="user_name"></br>
  Email: <input type="email" name="user_email"></br>
  Tel: <input type="tel" name="user_tel"></br>
  Local: <input type="text" name="user_local"></br>
  <button type="submit">입력완료</button>

</form>
</body>
</html>