a:link{text-decoration:none; color:gray;}
a:visited{text-decoration:none;color:gray;}
a:hover{text-decoration: underline; color:salmon;}
table, td{
    border:1px solid gray;
    border-collapse:collapse;
    font-size:9pt;
    color:#333;
}
tr:nth-child(2n+1){
background: skyblue;
}